# Ejercicio 2: DBSCAN

Caso sint√©tico forma no globular

In [3]:
import sklearn.datasets as datasets
import pandas as pandas
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
%matplotlib inline

X=pandas.read_csv('./datasets/pathbased.txt', sep = '\t')
X.head()

      x1    x2
0  11.25  5.05
1  10.95  4.70
2   9.85  5.80
3   9.80  5.75
4   9.15  6.80

In [4]:
x=X['x1']
y=X['x2']

In [66]:
#Programar dbscan

In [ ]:
# Plot del conjunto original

In [5]:
# Plot de los clusters